.left-menu {
  width: 320px;
  height: 100%;
  min-height: 100vh;
  overflow-y: auto;
  background: linear-gradient(145deg, white, #ededed);
  box-shadow: 10px 0px 17px -8px rgba(0,0,0,0.42);
  position: absolute;
  top: 0;
  bottom: 0;
  left: -340px;
  transition: left 0.25s;
}

.mobile-left-menu {
  .nav-container {
    top: 160px;
  }
}

.open-menu {
  left: 0;
  transition: left 0.25s;
}

.nav-container {
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-menu-list-item {
  margin: 25px 0;
  width: fit-content;
  cursor: pointer;
  color: black;
  padding: 0 3px;
  text-align: center;
}

.left-menu-list-item.is-active {
  font-weight: bold;
  color: #af0000;
}

.left-menu-list-item.is-active::after {
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  background-color: #af0000;
}

.left-menu-list-item::after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: #af0000;
}

.left-menu-list-item:hover:after {
  width: 100px;
  transition: width 0.25s;
}

.left-menu-list-item.is-active::before {
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  background-color: #af0000;
}

.left-menu-list-item::before {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: #af0000;
}

.left-menu-list-item:hover:before {
  width: 100px;
  transition: width 0.25s;
}

#nav-icon2 {
  width: 30px;
  height: 25px;
  position: absolute;
  left: 10px;
  top: 5%;
  z-index: 10;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg) translateY(-50%);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  cursor: pointer;
  pointer-events: visible;
}


#nav-icon2 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: #af0000;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 9px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 18px;
}

#nav-icon2.open {
  left: 280px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 3px;
  top: 5px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 1px);
  top: 5px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 3px;
  top: 16px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 1px);
  top: 16px;
}

.left-menu-opener {
  height: 100vh;
  position: absolute;
  z-index: 500;
  left: 0;
  top: 0;
  width: 50px;
  background: linear-gradient(145deg, #ededed, #ededed);
  transition: width 0.25s;
  cursor: pointer;
}

.left-menu-opener:hover {
  width: 80px;
  transition: width 0.25s;
}

.left-menu-opener-open {
  width: 0 !important;
  transition: width 0.2s;
}
