<p class="background-text">portfolio</p>
<div class="portfolio-container">
  <nz-timeline nzMode="alternate">
    <nz-timeline-item>
      <div>
        <p class="item-header">Trivia Quiz</p>
        <p class="item-explanation">This is a basic quiz game created with React. I used functional structure in all
          components. State management is handled with Context API. There will be some more improvements
          via implementing a UI library.</p>
        <a href="https://demo-trivia.netlify.app/" target="_blank" class="item-link">See in action</a>
      </div>
    </nz-timeline-item>
    <nz-timeline-item nzColor="green">
      <div>
        <p class="item-header">Armtek Elektrik</p>
        <p class="item-explanation">My first job for an electric company. The website is developed with Next.js.
          Implements server-side rendering and PWA features.</p>
        <a href="https://www.armtek.com.tr/" target="_blank" class="item-link">See in action</a>
      </div>
    </nz-timeline-item>
    <nz-timeline-item [nzDot]="dotTemplate">
    <div>
      <p class="item-header">Reengs</p>
      <p class="item-explanation">A React web page for a special product of a company. Available in four languages.
        Design is fully responsible and adapts to each screen size.</p>
      <a href="https://www.reengs.de/" target="_blank" class="item-link">See in action</a>
    </div>
    </nz-timeline-item>
    <nz-timeline-item nzColor="red">Network problems being solved 2015-09-01</nz-timeline-item>
    <nz-timeline-item>Create a services site 2015-09-01</nz-timeline-item>
    <nz-timeline-item [nzDot]="dotTemplate">Technical testing 2015-09-01</nz-timeline-item>
  </nz-timeline>
  <ng-template #dotTemplate>
    <i nz-icon nzType="clock-circle-o" style="font-size: 16px;"></i>
  </ng-template>
</div>
