p {
  margin: 0;
}

.about-me-container {
  position: absolute;
  margin-right: 300px;
  top: 25%;
  left: 25%;
}

.about-me-container.mobile {
  position: relative;
  margin: 45px 0 0;
  top: unset;
  left: unset;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
  padding: 0 20px 90px 20px;
}

.about-me {
  color: #af0000;
  font-weight: bold;
  margin-bottom: 30px;
}

.about-me-text {
  margin-left: 20px;
  line-height: 1.5;
}
