<p class="background-text">about</p>
<div class="about-me-container">
  <p class="about-me">about me -</p>
  <article class="about-me-text">I am a passionate developer dedicated to creating attractive web projects and a
    career-changer
    who has experienced first-hand the transformational power of online learning.
    <br>
    Up to the present, I worked with React, Angular, AngularJs, TypeScript, Redux, Webpack, Gulp, Sass, Bootstrap,
    Restful API's, WebSocket, and some other tools and technologies. I used UI kits such as Semantic UI, Material UI,
    and Ant Design in varying projects.
    <br>
    However, I believe that rather than just focusing on knowing a particular framework or a technology, a developer has
    to have a grip about what is going on behind the scene and what has to be done.
  </article>
</div>
