<p class="background-text">about</p>
<div class="about-me-container" [ngClass]="{'mobile': isMobile}">
  <p class="about-me">about me -</p>
  <article class="about-me-text">I am a passionate developer dedicated to creating attractive web projects and a
    career-changer
    who has experienced first-hand the transformational power of online learning.
    <br>
    Up to the present, I worked with React, Angular, AngularJs, TypeScript, Redux, Webpack, Gulp, Sass, Bootstrap,
    Restful API's, WebSocket, and some other tools and technologies. I used UI kits such as Semantic UI, Material UI,
    and Ant Design in varying projects.
    <br>
    However, I believe that rather than just focusing on knowing a particular framework and favoring it, a developer has
    to have a grip about what is going on behind the scene and what tools and approaches can help him/her to solve the problem.
    This means, a wide range of interests, curiosity and a lasting eagerness to learn new stuff are keys to be a great developer,
    rather than craftsmanship of a particular framework or a tool. This principle leads my manner of work.
    <br>
    If you are interested in hiring me, don't hesitate to get in touch. You can find the related info in contact page.
  </article>
</div>
