p {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  grid-gap: 20px;
  height: 100%;
  overflow: scroll;
  margin-top: 0;
  padding-top: 70px;
  margin-right: 0;
  padding-right: 70px;

  .ant-card-bordered {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, .16), 0 3px 6px 0 rgba(0, 0, 0, .12), 0 5px 12px 4px rgba(0, 0, 0, .09);
    position: relative;
    transition: all .4s ease;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1em;
    border:solid 2px hsla(0, 95%, 35%, 1);

    &:hover {
      border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
      box-shadow: 0 0.5px 1px -2px rgba(0, 0, 0, .16), 0 1.5px 3px 0 rgba(0, 0, 0, .12), 0 2.5px 6px 4px rgba(0, 0, 0, .09);
    }
  }

  .ng-star-inserted {
    margin-bottom: 20px;
    img {
      border-radius: 10px;
    }
  }
}
