<div class="home">
  <div class="main">
    <div class="d1"></div>
    <div class="d2"></div>
    <div class="d3"></div>
    <div class="d4"></div>
  </div>
  <ngx-typed-js [strings]="['Hello, ^200 My Name Is Onur <br> ^1000 I am a Frontend Developer']"
                [typeSpeed]="60"
                [showCursor]=true
                [cursorChar]="'|'"
                [autoInsertCss]=true
                [backSpeed]="60"
                [startDelay]="10"
  >
    <h1 class="typing"></h1>
  </ngx-typed-js>
</div>
