<div class="home">
  <!--  <pre id="typewriter">-->
  <!--  <span class="var-highlight">var</span> object = {{ '{' }}-->
  <!--    name: <span class="string-highlight">'Onur Kılıç'</span>,-->
  <!--    type: <span class="string-highlight">'Front End Developer'</span>,-->
  <!--    location: <span class="string-highlight">'Ankara'</span>,-->
  <!--    properties:[<span class="string-highlight">'Javascript'</span>,-->
  <!--                <span class="string-highlight">'HTML'</span>,-->
  <!--                <span class="string-highlight">'React'</span>],-->
  <!--                <span class="string-highlight">'Angular'</span>],-->
  <!--                <span class="string-highlight">'CSS'</span>];-->
  <!--  {{ '}' }}; </pre>-->
  <h1 class="first">I'm Onur</h1>
  <h1 class="second">A Front-End Developer</h1>
  <h1 class="third">A Curious Mind</h1>
</div>
