h1 {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.first, .second, .third {
  white-space: nowrap;
  overflow: hidden;
}

.first {
  -webkit-animation: type 8s infinite, blink 0.4s infinite;
  animation: type 8s infinite, blink 0.4s infinite;
}

.second {
  -webkit-animation: type2 8s infinite, blink 0.4s infinite;
  animation: type2 8s infinite, blink 0.4s infinite;
}

.third {
  -webkit-animation: type3 8s infinite, blink 0.4s infinite;
  animation: type3 8s infinite, blink 0.4s infinite;
}

@keyframes type {
  0% {
    width: 0;
    border-right: .15em solid orange;
  }
  16.6% {
    width: 3.3em;
  }
  33.3% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
    border-right: .15em solid orange;
  }
  16.6% {
    width: 3.3em;
  }
  33.3% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  33.3% {
    width: 0;
    border: none;
  }
  50% {
    width: 8.8em;
    border-right: .15em solid orange;
  }
  67% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  33.3% {
    width: 0;
    border: none;
  }
  50% {
    width: 8.8em;
    border-right: .15em solid orange;
  }
  67% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  67% {
    width: 0;
    border: none;
  }
  83% {
    width: 5.8em;
    border-right: .15em solid orange;
  }
  100% {
    width: 0;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  67% {
    width: 0;
    border: none;
  }
  83% {
    width: 5.8em;
    border-right: .15em solid orange;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
